blspy==2.0.2
cffi==1.16.0
cryptography==41.0.7
numpy==1.26.3
pycparser==2.21
pysphinx==0.0.1
scipy==1.11.4
black==23.12.1
sympy==1.12
simpy==4.1.1
pandas==2.2.2
matplotlib==3.8.4
seaborn==0.13.2
pyyaml==6.0.1
dacite==1.8.1
